.cases-slider {
  .__arrows {
    width: 100%;
    transform: translateY(-50%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
	top:10px;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    transition: all 0.2s ease-out;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--s-300);
    transition: all 0.2s ease-out;
  }
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 16px;
    height: 12px;
  }
  .swiper-button-next {
    order: 2;
  }
  .swiper-button-prev {
    transform: scaleX(-1);
    order: 1;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: '';
  }
  .swiper-pagination {
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    overflow: hidden;
  }

  .swiper-pagination-progressbar-fill {
    background: var(--primary);
    height: 100%;
  }
  .progress-bar {
    transition: width 0.3s ease-out;
  }
}

/*---- LG --*/
@media only screen and (max-width: 1024px) {
  .cases-slider {
    .swiper-button-prev {
      left: -24px;
    }
    .swiper-button-next {
      right: 24px;
    }
  }
}
