.numbers {
  .digit-container, .digit-static {
    display: inline-block;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    font-size: 72px;
    font-weight: 600;
	color:var(--primary);
	text-align: center;
  }

  .digit-reel {
  }
}

/*---- MD --*/
@media only screen and (max-width: 768px) {
  .numbers {
   .digit-container {
	font-size: 42px;
   }
  }
}
